body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 500px;
}

.signup-container {
  width: 520px;
  height: 80vh;
  display: flex;
  align-items: center;
  background-color: transparent;
  flex-direction: column;
  margin-top: 40px;
}

.head {
  width: auto;
  font-size: 32px;
  font-weight: 600;
}

.form-group label {
  font-size: 19px;
}

.form-group input {
  width: 100%;
  margin-right: 98px;
  min-width: 350px;
  padding: 12px; /* Reduced left padding to align text more to the left */
  text-align: left;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 9px;
  border: 1px solid white;
  font-size: 17px; /* This ensures padding doesn't affect the total width */
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Changed from 'left' to 'stretch' to allow full width */
  justify-content: center;
  width: 90%; /* Adjust this value to control the width of the form group */
  margin: 18px auto; /* Centers the form group and adds vertical spacing */
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 18px;
  width: 78%;
  background-color: rgb(115, 38, 239);
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid white;
  margin-top: 40px;
  font-size: 18px;
}

.g-icon {
  height: 26px;
  width: 26px;
  margin-right: 18px;
}

.or-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

.or-container .line {
  width: 174px;
  height: 1px;
  background-color: white;
}

.login {
  font-size: 17px;
  font-weight: 500;
}

.login-link {
  font-size: 17px;
  font-weight: 500;
  color: rgb(115, 38, 239);
}

.link-container {
  margin-top: 10px;
}

.or {
  font-size: 18px;
}

button.account {
  width: 400px;
  margin-left: 25px;
}
