@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-container {
  height: 590px;
  width: 100%;
  max-width: 530px;
  margin: 6rem auto;
  padding: 1rem;
  box-sizing: border-box;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.head-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  span {
    font-size: 35px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
  }
}

.form-container {
  display: flex;
  align-items: center;
  flex-direction: center;
  width: 100%;
}

.form-group {
  margin-top: 10px;
  padding-left: 50px;
}

.form-group label {
  font-size: 17px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
  width: 100%;
  border: 1px solid white;
  outline: none;
  background-color: black;
  padding: 12px 90px;
  border-radius: 10px;
  box-sizing: border-box;
}

.fp {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

label[for="fp"] {
  font-size: 17px;
  margin-top: 15px;
  cursor: pointer;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 13px 163px;
  border: 1px solid white;
  background-color: black;
  color: white;
  font-size: 16px;
  margin-left: 41px;
  border-radius: 10px;
  cursor: pointer;
}

.login-text,
.login-link {
  font-size: 17px;
}

.login-text {
  margin-left: 7rem;
}

.login-link {
  color: rgb(201, 0, 201);
}
