@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.chat {
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 0;
  border-left: 1px solid rgb(98, 98, 98);
  border-right: 1px solid rgb(88, 88, 88);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.user img {
  height: 56px;
  width: 56px;
  object-fit: cover;
}

.top {
  padding: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(81, 81, 81);
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.profile span {
  font-size: 19px;
  font-weight: bold;
  font-family: "Noto Sans", sans-serif;
}

.profile p {
  font-size: 15px;
  font-family: "Noto Sans", sans-serif;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.border {
  border: 1px solid rgb(92, 92, 92);
  height: 44px;
  width: 44px;
  padding: 4px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  height: 26px;
  width: 26px;
  cursor: pointer;
}

.bottom {
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgb(57, 57, 57);
  margin-top: auto;
}

.input-wrapper {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
}

.input-wrapper .em {
  position: absolute;
  left: 10px;
  height: 26px;
  width: 26px;
  cursor: pointer;
}

.input-wrapper input {
  background-color: black;
  border: none;
  outline: none;
  font-family: "Noto Sans", sans-serif;
  flex: 1;
  color: white;
  padding: 15px;
  padding-left: 50px; /* Add padding to make space for the emoji icon and gap */
  border-radius: 10px;
}

.input-wrapper .pin,
.input-wrapper .micro,
.input-wrapper .send {
  position: absolute;
  cursor: pointer;
  right: 10px;
}

.input-wrapper .pin {
  right: 100px;
}

.input-wrapper .micro {
  right: 58px;
}

.input-wrapper .send {
  right: 20px;
}

.emoji .picker {
  position: absolute;
  bottom: 60px; /* Adjust to position the picker above the input field */
  left: 0;
}

.center {
  padding: 20px;
  flex: 1;
  border: 1px solid rgb(67, 67, 67);
  background-color: black;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 20px;
  scrollbar-width: none;

  .message {
    max-width: 70%;
    display: flex;
    gap: 20px;

    &.own {
      align-self: flex-end;

      .texts {
        p {
          background-color: #6e85b7;
        }
      }
    }

    .texts {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 5px;

      img {
        width: 100%;
        height: 300px;
        border-radius: 10px;
        object-fit: cover;
      }

      p {
        padding: 18px;
        background-color: #252b2e;
        font-size: 16px;
      }

      span {
        font-size: 13px;
      }
    }
  }
}

.message img {
  width: 45px;
  height: 45px;
  object-fit: cover;
}

.texts p,
.texts span {
  font-family: "Noto Sans", sans-serif;
}

.own .texts p {
  border-radius: 25px 25px 0px 25px;
}

.them .texts p {
  border-radius: 0px 25px 25px 25px;
}
