@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.userInfo .search {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 15px;
}

.userInfo .searchBar {
  flex: 1;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  padding: 15px;
}

.userInfo input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  flex: 1;
  font-size: 16px;
  margin-left: 0.6rem;
  font-family: "Nunito Sans", sans-serif;
}

.plus {
  height: 33px;
  width: 33px;
  background-color: black;
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;
  box-sizing: border-box;
}
