@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.detail {
  flex-grow: 1; /* Detail will take 1 part of the available space */
  flex-shrink: 1; /* Detail can shrink if needed */
  flex-basis: 0; /* Initial size before space distribution */
  border: 1px solid #000000; /* Optional: Add borders for visualization */
  font-family: "Noto Sans", sans-serif;
}

.p-user {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.p-user h3 {
  margin-left: 0.3rem;
}

.p-user img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.option .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
  margin-left: 4px;
  cursor: pointer; /* Make the title clickable */
}

.arrow-icon {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-deets button.logout {
  margin-left: 23px;
  background-color: rgb(115, 38, 239);
  font-weight: 600;
  font-size: 19px;
  width: 334px;
}

.user-deets {
  border: 1px solid white;
}

.user-deets .cd {
  font-size: 23px;
  font-weight: 600;
  padding-left: 22px;
  margin-top: 14px;
}

.user-deets .photo-detail {
  border: 1px solid white;
  height: 8.8rem;
  margin-top: 2.1rem;
}

.see-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 104px;
}

.photo-detail .pnv {
  font-size: 18px;
}

.photo-detail .see-more {
  font-size: 17px;
}

.photo-container {
  display: flex;
  align-items: center;
  padding-left: 26px;
}

.photo-container img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}
