@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.detail {
  flex-grow: 1; /* Detail will take 1 part of the available space */
  flex-shrink: 1; /* Detail can shrink if needed */
  flex-basis: 0; /* Initial size before space distribution */
  border: 1px solid #565656; /* Optional: Add borders for visualization */
  font-family: "Noto Sans", sans-serif;

  .p-user {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    p {
      font-size: 16px;
      margin-bottom: 6px;
    }

    h3 {
      margin-top: 8px;
    }

    img {
      height: 100px;
      width: 100px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;

    .option {
      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2px;
        margin-left: 4px;

        .up-arrow,
        .arrow-down {
          height: 18px;
          width: 18px;
          border-radius: 50%;
          margin-right: 10px;
          cursor: pointer;
        }
      }

      .photos {
        display: flex;
        justify-items: center;
        padding: 10px;
        margin-left: -2px;

        .photoItem {
          flex-wrap: wrap;
          display: flex;
          gap: 9px;
          max-width: 710px;

          .photo-detail {
            width: 103px;
            height: 103px;
            box-sizing: border-box;

            img {
              width: 100%;
              height: 100%;
              display: block;
              object-fit: cover;
              border-radius: 3px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

.photo-detail span,
.title span,
.p-user h3,
.p-user p {
  font-family: "Noto Sans", sans-serif;
}

.title span {
  font-size: 18px;
}

.logout {
  padding: 14px 130px;
  background-color: rgb(211, 6, 98);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 12px;
  margin-top: 209px;
}

button:hover {
  background-color: rgb(137, 0, 62);
}
