
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width:100%;
  background-color: #090b0e;
}

.login-container {
  width: 520px;
  height: 80vh;
  display: flex;
  align-items: center;
  background-color: transparent;
  flex-direction: column;
}

.head {
  width: auto;
  font-size: 36px;
  font-weight: 600;
  color: rgb(115, 38, 239);
  font-weight: 800;
}

.sub-head {
  font-size: 18px;
  margin-top: 2px;
  font-weight: 400;
  color: #dadada;
}

.login-container .g-button {
  border: 1px solid #7d7d7d;
  margin-top: 36px;
  color: rgb(235, 235, 235);
}

.or-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

.or-container .line {
  width: 180px;
  height: 1px;
  background-color: #818181;
}

.or {
  font-size: 18px;
}

.form-group label {
  font-size: 19px;
}

.form-group input {
  width: 100%;
  margin-right: 98px;
  min-width: 355px;
  padding: 12px; /* Reduced left padding to align text more to the left */
  text-align: left;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 9px;
  border: 1px solid #7b7b7b;
  color: rgb(235, 235, 235);
  font-size: 17px; /* This ensures padding doesn't affect the total width */
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Changed from 'left' to 'stretch' to allow full width */
  justify-content: center;
  width: 90%; /* Adjust this value to control the width of the form group */
  margin: 18px auto; /* Centers the form group and adds vertical spacing */
}

.remember-container {
  display: flex;
  align-items: center;
  margin-left: 24px;
  padding-top: 8px;
}

.remember-container .checkbox {
  height: 18px;
  width: 18px;
  margin-right: 6px;
  cursor: pointer;
}

.rm {
  font-size: 16px;
  margin-right: 144px;
  color: rgb(235, 235, 235);
}

.fp {
  font-size: 16px;
  text-decoration: underline;
  color: rgb(235, 235, 235);
  text-decoration-color: rgb(115, 38, 239);
}

#login {
  font-size: 17px;
  font-weight: 500;
  color: rgb(235, 235, 235);
}

.login-link {
  font-size: 17px;
  font-weight: 500;
  color: rgb(115, 38, 239);
}

.login-button {
  margin-left: 23px;
  width: 400px;
}

.link-container {
  margin-top: 10px;
}

button {
  border: 1px solid #7b7b7b;
}
