body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 500px;
  margin-top: 50px;
}

.login-container {
  width: 520px;
  height: 80vh;
  display: flex;
  align-items: center;
  background-color: transparent;
  flex-direction: column;
}

.head {
  width: auto;
  font-size: 32px;
  font-weight: 600;
}

.sub-head {
  font-size: 16px;
  font-weight: 300;
  margin-top: 3px;
}

.login-container .g-button {
  margin-top: 36px;
}

.or-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

.or-container .line {
  width: 174px;
  height: 1px;
  background-color: white;
}

.or {
  font-size: 18px;
}

.form-group label {
  font-size: 19px;
}

.form-group input {
  width: 100%;
  margin-right: 98px;
  min-width: 350px;
  padding: 12px; /* Reduced left padding to align text more to the left */
  text-align: left;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 9px;
  border: 1px solid white;
  font-size: 17px; /* This ensures padding doesn't affect the total width */
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Changed from 'left' to 'stretch' to allow full width */
  justify-content: center;
  width: 90%; /* Adjust this value to control the width of the form group */
  margin: 18px auto; /* Centers the form group and adds vertical spacing */
}

.remember-container {
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.remember-container .checkbox {
  height: 18px;
  width: 18px;
  margin-right: 6px;
}

.rm {
  font-size: 16px;
  margin-right: 144px;
}

.fp {
  font-size: 16px;
  text-decoration: underline;
}

#login {
  font-size: 17px;
  font-weight: 500;
}

.login-link {
  font-size: 17px;
  font-weight: 500;
  color: green;
}

.link-container {
  margin-top: 10px;
}
